{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/audience-page" class="link-back">Back</a>

      <h1 class="heading-large">
        Check your answers before sending your application
      </h1>


      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
          How many balls can you juggle?
          </dt>
          <dd class="cya-answer">
            {{data['juggling-balls']}}
          </dd>
          <dd class="cya-change">
            <a href="/juggling-balls">
              Change<span class="visually-hidden"> How many balls can you juggle</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            What is your most impressive trick?
          </dt>
          <dd class="cya-answer">
            {{data['juggling-trick']}}
          </dd>
          <dd class="cya-change">
            <a href="/juggling-trick">
              Change<span class="visually-hidden">What is your most impressive trick</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
          How many people can you perform for?
          </dt>
          <dd class="cya-answer">
            {{data['audience-size']}}
          </dd>
          <dd class="cya-change">
            <a href="/audience-page">
              Change<span class="visually-hidden"> How many people can you perform for</span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="heading-medium">Now send your application</h2>

      <p class="text">
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="form-group">
        <a href="/confirmation-page" class="button">Accept and send application</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
